* {
    font-family: Roboto, sans-serif;
}

nav {
    background-color: #1f2937;
}

.logo {
    width: 200px;
    margin-left: 80px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnavlinks a {
    text-decoration: none;
    font-size: 40px;
    padding-right: 80px;
}

#products {
    margin-right: -60px;
    margin-left: -50px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #1f2937;
}

.a-image {
    width: 800px;
}

#sign-up {
    font-size: 30px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}


.artist {
    width: 350px;
    height: 500px;
    
}

.artisttitle {
    text-align: center;
    padding-top: 100px;
}


#artist {
    overflow: hidden;
}