* {
    font-family: Roboto, sans-serif;
}

a:hover {
    color: blue;
}

.logo {
    width: 200px;
    border-radius: 100px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    font-size: 18px;
    color: #f9faf8;
}

.header-nav {
    background-color: #1f2937;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 430px;
}

.text1 {
    font-size: 48px;
    color: #f9faf8;
}

.text2 {
    font-size: 18px;
    color: #f9faf8;
}

.signup-button {
    background-color: #3882f6;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #f9faf8;
    border-color: white;
}

.artist {
    width: 270px;
    height: 300px;
    border-radius: 15px;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;  
    padding-bottom: 100px;  
    padding-top: 30px;
    background-color: white;
}

.artist-list {
    display: flex;
    gap: 80px;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: #1f2937;
}

.artists-title {
    font-size: 36px;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-style: italic;
}

.a-successq {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px 0px 60px 0;
}

.author {
    justify-content: flex-end;
    display: flex;
    font-weight: bolder;
}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
}

.secondtodlast {
    display: flex;
    justify-content: center;
    gap: 500px;
    background-color: #3882f6;
    border-radius: 10px;
    
}

.buttonlast {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
}

.textindbox {
    color: #f9faf8;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bolder;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}